body {
    font-family: 'Poppins', sans-serif;
      margin: 0;
      padding: 0;
      text-align: center;
      background-color: #f4f4f9;
    }

    .menu {
        background-color: #007BFF; /* Fondo azul del menú */
        padding: 10px 0;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        position: sticky;
        top: 0;
        z-index: 1000;
    }
    
    .menu ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    
    .menu ul li {
        margin: 0 20px;
    }
    
    .menu ul li a {
        text-decoration: none;
        color: white;
        font-weight: 600;
        font-size: 18px;
        padding: 8px 15px;
        border-radius: 5px;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
    
    .menu ul li a:hover {
        background-color: #0056b3; /* Fondo al pasar el mouse */
        color: #f4f4f4; /* Texto más claro al pasar el mouse */
    }

    .tooltip-container {
        position: relative;
        display: inline-block;}
       .tooltip-text {
        visibility: hidden;
        width: 120px;
        background-color: #000;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        top: 125%; /* Posiciona el tooltip bajo del elemento
       */
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity 0.3s;}
       .tooltip-container:hover .tooltip-text {
        visibility: visible;
        opacity: 1;}

        /* Responsividad */
@media (max-width: 1024px) {
    nav ul li {
        margin: 0 10px;
    }

    ul {
        padding: 10px;
    }

    ul li {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    nav ul {
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    ul {
        padding: 5px;
    }

    ul li {
        font-size: 14px;
    }

    h1 {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    nav ul li a {
        font-size: 16px;
    }

    ul li a {
        font-size: 14px;
    }

    h1 {
        font-size: 22px;
    }
}